.zipTextField {
  color: grey;
  margin: 0;
  font-family: Helvetica;
  padding-right: 6px;
  border-bottom: 1px solid lightgrey;
}

.floater {
  margin-top: -30px;
  z-index: 0;
  color: grey;
  font-family: Helvetica;
  font-size: 1.2rem;
}