@import 'styles/_variables.scss';

.top {
  margin-top: 16px;
}

.stepButton {
 font-weight: 200;
 margin-top: 16px;
 width: 100%;
 height: 75px;
 border-radius: 8px;
 font-size: 1.5em;
 text-transform: none;
 span {
  font-size: 18px;
 }
}

.backButton:hover {
  cursor: pointer;
}

.helpButton a {
  text-decoration: underline;
  color: $FRNGreen;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
